<div ng-include="'./partials/settings.html'"></div>

<div id="maps-wrapper" class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" translate>Relation {{relationName}}</div>
      <div class="panel-body">
        <tabset>
          <tab heading="members {{members.length}}">
            <table class="table table-bordered">
              <tr>
                <th>ref</th>
                <th>actions</th>
              </tr>
              <tr ng-repeat="member in members">
                <td>
                  <div ng-if="member.type === 'relation'">
                    <a class="btn btn-default"
                     ng-click="setCurrentRelation(member)">[{{member.type}}] {{member.name}} ({{member.ref}})</a>
                  </div>
                  <div ng-if="member.type !== 'relation'">
                    <a target="_blank" href="http://www.openstreetmap.org/{{member.type}}/{{member.ref}}">{{member.ref}} {{member.name}}</a>
                  </div>
                </td>
                <td>
                  <button class="btn btn-default" ng-click="displayMember(member)">Display on map</button>
                </td>
              </tr>
            </table>
          </tab>
          <tab heading="tags {{tags.length}}">
            <table class="table table-bordered">
              <tr>
                <th>key</th>
                <th>value</th>
              </tr>
              <tr ng-repeat="tag in tags">
                <td>{{tag.k}}</td>
                <td>
                  <input class="form-control" type="text" ng-model="tag.v"/>
                </td>
              </tr>
            </table>
          </tab>
        </tabset>
      </div>
    </div>

  </div>
  <div class="col-md-6" ng-controller="LeafletController">
    <leaflet center="center" markers="markers" layers="layers" width="100%" height="600" geojson="leafletGeojson"></leaflet>
    <table class="table table-bordered">
      <tr>
        <th>Categories</th>
        <th>Actions</th>
      </tr>
      <tr ng-show="zoomLevel > 15">
        <td>Loading data (OSM API)</td>
        <td>
          <a class="btn btn-default" ng-click="loadOSMNodes()" translate>Load nodes</a>
          <a class="btn btn-default" ng-click="loadOSMWays()" translate>Load ways</a>
          <a class="btn btn-default" ng-click="loadOSMBusStop()" translate>Load bus stop</a>
        </td>
      </tr>
      <tr>
        <td>Loading data (Overpass API)</td>
        <td>
          <a class="btn btn-default" ng-click="loadOverpassWays()" translate>Load ways</a>
          <a class="btn btn-default" ng-click="loadOverpassBusStop()" translate>Load bus stop</a>
        </td>
      </tr>
      <tr>
        <td>Modify relation</td>
        <td>
          <button ng-show="currentNode" class="btn btn-primary" ng-click="addNodeToRelation(currentNode)">Add {{currentNode.id}} to relation</button>
          <button ng-show="currentMember" class="btn btn-danger" ng-click="removeMemberFromRelation(currentMember)">Remove {{currentMember.id}} from relation</button>
        </td>
      </tr>
      <tr>
        <td>Open in another editor</td>
        <td>
          <a class="btn btn-default" target="_blank" ng-href="https://openstreetmap.org/relation/{{relationID}}" translate>Open in OSM</a>
          <a class="btn btn-default" target="_blank" ng-href="https://openstreetmap.org/edit?relation={{relationID}}" translate>Open in iD</a>
        </td>
      </tr>
    </table>


    <br/>
    <div class="panel panel-default">
      <div class="panel-heading">DEBUG</div>
      <div class="panel-body">
        <tabset>
          <tab heading="relation (xml)">
            <pre>{{relationXML}}</pre>
          </tab>
          <tab heading="relation full (xml)">
            <pre>{{relationXMLFull}}</pre>
          </tab>
          <tab heading="currentNode">
            <p>For debug purpose</p>
            <pre>{{currentNode}}</pre>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

</div>
