<table class="table table-bordered ng-hide" ng-show="relations.length > 0">
  <tr>
    <th width="60%">ref - name</th>
    <th width="30%">actions</th>
  </tr>
  <tr ng-repeat="relation in relations">
    <td>
        {{relation.ref}} - {{relation.tags.name}}
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-default" ng-click="setCurrentRelation(relation)">
          <i class="fa fa-pencil-square"></i>
        </button>
        <div open-relation-ext relation-id="relation.ref"></div>
      </div>
    </td>
  </tr>
</table>
