<div ng-include="'./partials/settings.html'"></div>

<div id="maps-wrapper" class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" translate>Relation</div>
      <div class="panel-body">
        <h1>{{relationName}}</h1>
        <div class="form-group">
          <button class="btn btn-default" ng-click="hideRelationlayer()">Hide layer</button>
          <button class="btn btn-default" ng-click="displayRelationlayer()">Display layer</button>
          <button class="btn btn-primary" ng-click="saveRelation()">Save
            <i class="fa fa-refresh fa-spin ng-hide" ng-show="loading.saving"></i>
            <i class="fa fa-check fa-fw ng-hide" ng-show="loading.savingsuccess"></i>
            <i class="fa fa-times fa-fw ng-hide" ng-show="loading.savingerror"></i>
          </button>
        </div>
        <div class="form-group">
          <a target="_blank" ng-href="https://openstreetmap.org/relation/{{relationID}}" translate>OSM</a>
          <a target="_blank" ng-href="https://openstreetmap.org/edit?relation={{relationID}}" translate>iD</a>
          <a target="_blank" ng-href="http://www.openstreetmap.org/edit?editor=potlatch2&zoom=11&relation={{relationID}}" translate>Potlatch2</a>
          <a target="_blank" ng-href="http://localhost:8111/import?url=http://api.openstreetmap.org/api/0.6/relation/{{relationID}}/full" translate>JOSM</a>
          <a target="_blank" ng-href="http://osm.virtuelle-loipe.de/history/?type=relation&ref={{relationID}}" translate>History</a>
          <a target="_blank" ng-href="http://ra.osmsurround.org/analyze.jsp?relationId={{relationID}}" translate>Analyse</a>
          <a target="_blank" ng-href="http://api.openstreetmap.fr/analyse/cgi-bin/index.py?relation={{relationID}}" translate>Analyse fr</a>
          <a target="_blank" ng-href="http://osmrm.openstreetmap.de/relation.jsp?id={{relationID}}" translate>Manage</a>
          <a target="_blank" ng-href="http://osmrm.openstreetmap.de/gpx.jsp?relation={{relationID}}" translate>GPX</a>
        </div>

        <tabset>
          <tab heading="members {{members.length}}">
            <div class="form-group">
              <input class="form-control" type="search" ng-model="q"/>
            </div>
            <table class="table table-bordered">
              <tr width="60%">
                <th>actions</th>
                <th>type/ref name</th>
              </tr>
              <tr width="30%" ng-repeat="member in members | filter:q | slice:start:end">
                <td>
                  <div style="font-size: 80%" ng-show="member.type === 'relation'">
                    <a target="_blank" ng-href="https://openstreetmap.org/relation/{{member.ref}}" translate>OSM</a>
                    <a target="_blank" ng-href="https://openstreetmap.org/edit?relation={{member.ref}}" translate>iD</a>
                    <a target="_blank" ng-href="http://www.openstreetmap.org/edit?editor=potlatch2&zoom=11&relation={{member.ref}}" translate>Potlatch2</a>
                    <a target="_blank" ng-href="http://localhost:8111/import?url=http://api.openstreetmap.org/api/0.6/relation/{{member.ref}}/full" translate>JOSM</a>
                    <a target="_blank" ng-href="http://osm.virtuelle-loipe.de/history/?type=relation&ref={{member.ref}}" translate>History</a>
                    <a target="_blank" ng-href="http://ra.osmsurround.org/analyze.jsp?relationId={{member.ref}}" translate>Analyse</a>
                    <a target="_blank" ng-href="http://api.openstreetmap.fr/analyse/cgi-bin/index.py?relation={{member.ref}}" translate>Analyse fr</a>
                    <a target="_blank" ng-href="http://osmrm.openstreetmap.de/relation.jsp?id={{member.ref}}" translate>Manage</a>
                    <a target="_blank" ng-href="http://osmrm.openstreetmap.de/gpx.jsp?relation={{member.ref}}" translate>GPX</a>
                  </div>

                  <button  ng-show="member.type !== 'relation'" ng-class="{btn: 1, 'btn-xs': 1, 'btn-default': member.ref !== displayedMember, 'btn-primary': member.ref === displayedMember}" ng-click="displayMember(member)">
                    <i class="fa fa-map-marker"></i>
                  </button>

                  <div class="btn-group">
                    <button ng-disabled="$first" class="btn btn-default" ng-click="moveMemberUp(member)">
                      <i class="fa fa-arrow-circle-o-up"></i>
                    </button>
                    <button ng-disabled="$last" class="btn btn-default" ng-click="moveMemberDown(member)">
                      <i class="fa fa-arrow-circle-o-down"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="removeMemberFromRelation(member)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <div ng-if="member.type === 'relation'">
                    [{{members.indexOf(member)}}] relation/
                    <a class="btn btn-default" ng-click="setCurrentRelation(member)">{{member.ref}}</a> {{member.name}}
                  </div>
                  <div ng-if="member.type !== 'relation'">
                    [{{members.indexOf(member)}}] {{member.type}}/
                    <a target="_blank" href="http://www.openstreetmap.org/{{member.type}}/{{member.ref}}">{{member.ref}}</a> {{member.name}}
                  </div>
                </td>
              </tr>
            </table>
            <div class="btn-group">
              <button class="btn btn-default" ng-disabled="!hasPreviousMembers()" ng-click="displayPreviousMembers()">
                  <i class="fa fa-angle-left"></i>
              </button>
              <button class="btn btn-default" ng-disabled="!hasNextMembers()" ng-click="displayNextMembers()">
                  <i class="fa fa-angle-right"></i>
              </button>
              <button class="btn btn-default" ng-click="toggleBatchMembers()">
                  Display All / batch
              </button>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <input ng-model="oldIndex" type="number" class="form-control" placeholder="From index"/>
              </div>
              <div class="form-group">
                <input ng-model="newIndex" type="number" class="form-control" placeholder="To index"/>
              </div>
              <button class="btn btn-default" ng-click="moveMemberFromIndexToIndex(oldIndex, newIndex)">Move</button>
            </div>
          </tab>
          <tab heading="tags {{tags.length}}">
            <table class="table table-bordered">
              <tr>
                <th>key</th>
                <th>value</th>
              </tr>
              <tr ng-repeat="tag in tags">
                <td>{{tag.k}}</td>
                <td>
                  <input class="form-control" type="text" ng-model="tag.v"/>
                </td>
              </tr>
            </table>
          </tab>
          <tab heading="parents {{parents.length}}" ng-controller="ParentsRelationsController">
            <div>
              <table class="table table-bordered ng-hide" ng-show="parents.length > 0">
                <tr width="60%">
                  <th>actions</th>
                  <th>name</th>
                </tr>
                <tr width="30%" ng-repeat="relation in parents">
                  <td>
                    <button class="btn btn-default" ng-click="setCurrentRelation(relation)">
                        <i class="fa fa-pencil-square"></i>
                    </button>

                    <div style="font-size: 80%">
                      <a target="_blank" ng-href="https://openstreetmap.org/relation/{{relation.ref}}" translate>OSM</a>
                      <a target="_blank" ng-href="https://openstreetmap.org/edit?relation={{relation.ref}}" translate>iD</a>
                      <a target="_blank" ng-href="http://www.openstreetmap.org/edit?editor=potlatch2&zoom=11&relation={{relation.ref}}" translate>Potlatch2</a>
                      <a target="_blank" ng-href="http://localhost:8111/import?url=http://api.openstreetmap.org/api/0.6/relation/{{relation.ref}}/full" translate>JOSM</a>
                      <a target="_blank" ng-href="http://osm.virtuelle-loipe.de/history/?type=relation&ref={{relation.ref}}" translate>History</a>
                      <a target="_blank" ng-href="http://ra.osmsurround.org/analyze.jsp?relationId={{relation.ref}}" translate>Analyse</a>
                      <a target="_blank" ng-href="http://api.openstreetmap.fr/analyse/cgi-bin/index.py?relation={{relation.ref}}" translate>Analyse fr</a>
                      <a target="_blank" ng-href="http://osmrm.openstreetmap.de/relation.jsp?id={{relation.ref}}" translate>Manage</a>
                      <a target="_blank" ng-href="http://osmrm.openstreetmap.de/gpx.jsp?relation={{relation.ref}}" translate>GPX</a>
                    </div>
                  </td>
                  <td>
                      {{relation.ref}} {{relation.name}}
                  </td>
                </tr>
              </table>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="panel panel-default" ng-controller="RelationSearchController">
      <div class="panel-heading">Search for relations</div>
      <div class="panel-body">
        <div class="input-group margin-bottom-sm" ui-keypress="{13:'search()'}">
          <input type="search" class="form-control" ng-model="pattern" placeholder="relation pattern"/>
          <span class="input-group-addon">
            <i class="fa fa-refresh fa-spin" ng-show="loading.relations"></i>
            <i class="fa fa-check fa-fw text-success" ng-show="loading.relationssuccess"></i>
            <i class="fa fa-times fa-fw text-danger" ng-show="loading.relationserror"></i>
          </span>
        </div>

            <table class="table table-bordered ng-hide" ng-show="relations.length > 0">
              <tr width="60%">
                <th>actions</th>
                <th>name</th>
              </tr>
              <tr width="30%" ng-repeat="relation in relations">
                <td>
                  <div class="btn-group">
                    <button class="btn btn-primary" ng-click="addRelation(relation)">
                      <i class="fa fa-plus-square"></i>
                    </button>
                    <button class="btn btn-default" ng-click="setCurrentRelation(relation)">
                      <i class="fa fa-pencil-square"></i>
                    </button>
                  </div>

                  <div style="font-size: 80%">
                    <a target="_blank" ng-href="https://openstreetmap.org/relation/{{relation.ref}}" translate>OSM</a>
                    <a target="_blank" ng-href="https://openstreetmap.org/edit?relation={{relation.ref}}" translate>iD</a>
                    <a target="_blank" ng-href="http://www.openstreetmap.org/edit?editor=potlatch2&zoom=11&relation={{relation.ref}}" translate>Potlatch2</a>
                    <a target="_blank" ng-href="http://localhost:8111/import?url=http://api.openstreetmap.org/api/0.6/relation/{{relation.ref}}/full" translate>JOSM</a>
                    <a target="_blank" ng-href="http://osm.virtuelle-loipe.de/history/?type=relation&ref={{relation.ref}}" translate>History</a>
                    <a target="_blank" ng-href="http://ra.osmsurround.org/analyze.jsp?relationId={{relation.ref}}" translate>Analyse</a>
                    <a target="_blank" ng-href="http://api.openstreetmap.fr/analyse/cgi-bin/index.py?relation={{relation.ref}}" translate>Analyse fr</a>
                    <a target="_blank" ng-href="http://osmrm.openstreetmap.de/relation.jsp?id={{relation.ref}}" translate>Manage</a>
                    <a target="_blank" ng-href="http://osmrm.openstreetmap.de/gpx.jsp?relation={{relation.ref}}" translate>GPX</a>
                  </div>
                </td>
                <td>
                    {{relation.name}}
                </td>
              </tr>
            </table>



      </div>
    </div>

  </div>
  <div class="col-md-6" ng-controller="LeafletController">
    <leaflet center="center" markers="markers" layers="layers" width="100%" height="600" geojson="leafletGeojson"></leaflet>

    <table class="table table-bordered">
      <tr>
        <th>Categories</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>Edit area in</td>
        <td>
          <a target="_blank" ng-href="http://www.openstreetmap.org/edit#map={{center.zoom}}/{{center.lat}}/{{center.lng}}" translate>iD</a>

      <tr ng-show="currentNode">
        <td>Selected item</td>
        <td>
          <div class="form-inline">
            <button ng-show="currentNode" class="btn btn-primary btn-lg" ng-click="addNodeToRelation(currentNode, newIndex)">Add {{currentNode.id}} to relation
            </button>
            <div class="form-group">
              <input class="form-control" type="number" ng-model="newIndex" placeholder="At index (number)"/>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Overpass API</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-default" ng-click="loadOverpassWays()" translate>display ways</a>
            <a class="btn btn-default" ng-click="loadOverpassBusStop()" translate>display bus stop</a>
            <a class="btn btn-danger" ng-show="overpassLayer" ng-click="removeOverpassLayer()">hide items</a>
          </div>
        </td>
      </tr>
    </table>
    <div class="form-inline">
        <div class="form-group">
            <input type="uri" ng-model="newGeoJSONURI" class="form-control" placeholder="geojson URI"/>
        </div>
        <button class="btn btn-default" ng-click="addGeoJSON(newGeoJSONURI)">Add</button>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>uri</th>
        <th>action</th>
      </tr>
      <tr ng-repeat="geojson in settings.geojsonLayers">
        <td>{{geojson}}</td>
        <td>
          <button class="btn btn-danger" ng-click="removeGeoJSON(geojson)">delete
              <i class="fa fa-trash-o"></i>
          </button>
          <button class="btn btn-default" ng-click="hideGeoJSON(geojson)">hide</button>
          <button class="btn btn-default" ng-click="displayGeoJSON(geojson)">display</button>
        </td>
      </tr>
    </table>

    <br/>
    <div class="panel panel-default">
      <div class="panel-heading">DEBUG</div>
      <div class="panel-body">
        <tabset>
          <tab heading="relation (xml)">
            <pre>{{relationXML}}</pre>
          </tab>
          <tab heading="relation full (xml)">
            <pre>{{relationXMLFull}}</pre>
          </tab>
          <tab heading="relation output (xml)">
            <pre>{{relationXMLOutput}}</pre>
          </tab>
          <tab heading="currentNode">
            <p>For debug purpose</p>
            <pre>{{currentNode}}</pre>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

</div>
