<div class="panel panel-default" ng-controller="RelationSearchController">
  <div class="panel-heading">Search for relations (overpass)</div>
  <div class="panel-body">
    <div class="input-group margin-bottom-sm" ui-keypress="{13:'search()'}">
      <input type="search" class="form-control" ng-model="pattern" placeholder="relation pattern"/>
      <span class="input-group-addon">
        <i class="fa fa-refresh fa-spin" ng-show="loading.relations"></i>
        <i class="fa fa-check fa-fw text-success" ng-show="loading.relationssuccess"></i>
        <i class="fa fa-times fa-fw text-danger" ng-show="loading.relationserror"></i>
      </span>
    </div>
    <div relations-table relations="relations"></div>
  </div>
</div>