<div id="maps-wrapper" ng-controller="LoginController">
    <div class="ng-hide" ng-show="!loggedin">
        <div class="panel panel-default" ui-keypress="{13:'login()'}">
            <div class="panel-heading" translate>OSM Login</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" ng-model="settings.username" placeholder="username" />
                </div>
                <div class="form-group" ng-hide="loggedin">
                    <input type="password" name="password" class="form-control" ng-model="mypassword" />
                    <button class="form-control btn btn-primary" ng-click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ng-hide" ng-show="loggedin" ng-controller="ChangesetController">
        <div>
            <button ng-show="!settings.changesetID" class="ng-hide btn btn-default" ng-click="createChangeset()">Create change set</button>
            <div class="form-group ng-hide" ng-show="settings.changesetID">
                <textarea class="form-control" ng-model="comment" width="100%"></textarea>
            </div>
            <button class="btn btn-primary ng-hide" ng-show="settings.changesetID" ng-click="closeChangeset()">Save (close changeset {{settings.changesetID}})</button>
            <button class="btn btn-danger pull-right" ng-click="logout()" style="width: 200px">Logout</button>
        </div>
    </div>
</div>
